.background {
    background-image: url("");
    width: 1920px;
    height: 1080px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.messageEnd {
    position: absolute;
    top: 400px;
    left : 1050px;
    cursor: pointer;
    width: 50 px;
}