<div>
    <div class ="riddle">
        <img src="/assets/enigme_mur.png"class="rebusImg">
    </div>
    <div class = "inputRiddle">
        <input type="text" [(ngModel)]="res" id="res" name="res" size="18">
        <button (click)= "matchString()" type="submit" class="riddleMatch">ENVOYER</button>
    </div>
    <div *ngIf="reponseSubmited === reponse" class = "bravo">
            <a routerLink="kitchen" [matDialogClose]><img src="/assets/instructions/bravo_shini.png" /></a>
    </div>
    <div *ngIf="blood" class="bloodDown">
        <img src="../../assets/backgrounds/blood.png" >
        <img class="killerSay" src="../../assets/backgrounds/perdu.png" >
        <button class="replayButton" [matDialogClose] (click)="replay()">Rejouer</button>
    </div>
</div>



