.background {
    background-image: url("/assets/backgrounds/outside.jpg");
    width: 1920px;
    height: 1080px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}