#background {
    background-image: url("src/assets/backgrounds/bedroomBackground.jpg");
    width: 100%;
    height: 100vh;
    position: absolute;
}




img{
    cursor: pointer;
}

#cross{
    position: absolute; top: 60px; left: 235px;
}

#holyWater{
    position: absolute; top: 455px; left: 1727px; 
}

#bible{
    position: absolute; top: 694px; left: 627px;
}

#maryPainting{
    position: absolute; top: 175px; left: 1430px;
}

#paintingLeft{
    position: absolute; top: 225px; left: 210px;

}