<div class="container">
    <img src='../../../assets/objectPhotos/a.png' id="a">
    <img src='../../../assets/objectPhotos/c.png' id="c">
    <img src='../../../assets/objectPhotos/e.png' id="e">
    <img src='../../../assets/objectPhotos/h.png' id="h">
    <img src='../../../assets/objectPhotos/k.png' id="k">
    <img src='../../../assets/objectPhotos/l.png' id="l">
    <img src='../../../assets/objectPhotos/m.png' id="m">
    <img src='../../../assets/objectPhotos/o.png' id="o">
    <img src='../../../assets/objectPhotos/p.png' id="p">
    <img src='../../../assets/objectPhotos/s.png' id="s">
    <img src='../../../assets/objectPhotos/s1.png' id="s1">
    <img src='../../../assets/objectPhotos/y.png' id="y">
</div>
